<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Exercicios</title>
</head>
<body>
    <h1>Listar Exercicios</h1>
    <ul>
        {% for exercicio in exercicios %}
            <li>{{ exercicio.nome }} - <a href="/api/exercicios/{{ exercicio.id }}">Detalhes</a> - <a href="/api/exercicios/{{ exercicio.id }}/editar">Editar</a> - <a href="/api/exercicios/{{ exercicio.id }}/remover">Remover</a></li>
        {% endfor %}

    </ul>
</body>
</html>
